<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">
            {{ formData.nombre }}
        </h3>
       
    </div>
    <!--begin::Form-->
    <form  [formGroup]="form" (ngSubmit)="enviar(form.value)">
        <div class="card-body">
            <div class="form-group row">
                <div *ngFor="let field of fields" class="col-lg-6">
                    <div class="maginField" *ngIf="field.tipoCampoId.tipoCampoId == 1 && validateConditionField(field.campoId)">
                        <label>{{ field.label }}</label>
                        <input  
                            id="{{ field.campoId }}"
                            [ngClass]="{'form-control': true, 'is-invalid': invalidate(field.nombre).value }"
                            type="{{ field.tipoDatoId.sinonimo }}" 
                            formControlName="{{ field.nombre }}" 
                            placeholder="{{ field.placeholder }}"
                            maxlength="{{ field.cantidadCaracteresCampo }}"
                        />
                        <span class="form-text text-muted">{{ field.help }}</span>
                        <span *ngIf="invalidate(field.nombre).value" class="form-text text-danger" >{{ invalidate(field.nombre).message }}</span>
                    </div>
                
                    <div class="maginField" *ngIf="field.tipoCampoId.tipoCampoId == 2 && validateConditionField(field.campoId)">
                        <label class="form-check-label">{{ field.label }}</label>
                        <select 
                            id="{{ field.campoId }}"
                            [ngClass]="{'custom-select': true, 'is-invalid': invalidate(field.nombre).value }"
                            formControlName="{{ field.nombre }}"
                        >
                        <option></option>
                        <option 
                            *ngFor="let select of field.tablaMaestra.lstRegValoresTablaMaestraDTO" 
                            class="form-control"
                            value="{{ select.codigo }}"
                        >
                            {{ select.descripcion }}
                        </option>
                        </select>
                        <span class="form-text text-muted">Please enter your full name</span>
                        <div *ngIf="invalidate(field.nombre).value" class="invalid-feedback show" >{{ invalidate(field.nombre).message }}</div> 
                    </div>
            
                    <div class="maginField" *ngIf="field.tipoCampoId.tipoCampoId == 3 && validateConditionField(field.campoId)">
                    <label>{{ field.label }}</label>
                    <input 
                        type="file" 
                        [ngClass]="{'form-control-file': true, 'is-invalid': invalidate(field.nombre).value }"
                        id="{{ field.campoId }}" 
                        formControlName="{{ field.nombre }}"
                    />
                    <div *ngIf="invalidate(field.nombre).value" class="invalid-feedback show" >{{ invalidate(field.nombre).message }}</div>
                    </div>

                    <div class="maginField" *ngIf="field.tipoCampoId.tipoCampoId == 4 && validateConditionField(field.campoId)">
                        <label>{{ field.label }}</label>
                        <div class="radio-inline">
                            <label 
                                *ngFor="let radio of field.tablaMaestra.lstRegValoresTablaMaestraDTO"  
                                class="radio radio-solid"
                            >
                                <input 
                                    type="radio" 
                                    name="{{ field.nombre }}" 
                                    value="{{ radio.descripcion }}" 
                                    formControlName="{{ field.nombre }}"
                                >    
                                <span></span>
                                {{ radio.descripcion }}
                            </label>
                        </div>
                        <span class="form-text text-muted">{{ field.help }}</span>
                        <span *ngIf="invalidate(field.nombre).value" class="form-text text-danger" >{{ invalidate(field.nombre).message }}</span>    
                    </div>
                    
                    <div *ngIf="field.tipoCampoId.tipoCampoId == 5 && validateConditionField(field.campoId)">
                    <label>{{ field.label }}</label>
                    <div 
                        *ngFor="let check of field.tablaMaestra.lstRegValoresTablaMaestraDTO" 
                        class="form-check"
                    >
                        <label class="form-check-label">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                value="{{check.codigo}}" 
                                id="{{check.id}}" 
                                formControlName="{{ check.codigo }}" 
                            >
                            {{ check.descripcion }}
                        </label>
                    </div>
                    </div>

                    <div class="maginField" *ngIf="field.tipoCampoId.tipoCampoId == 6 && validateConditionField(field.campoId)">
                        <label>{{ field.label }}</label>
                        <input  
                            id="{{ field.campoId }}"
                            [ngClass]="{'form-control': true, 'is-invalid': invalidate(field.nombre).value }"
                            type="{{ field.tipoDatoId.sinonimo }}" 
                            formControlName="{{ field.nombre }}" 
                            placeholder="{{ field.placeholder }}"
                            maxlength="{{ field.cantidadCaracteresCampo }}"
                        />
                        <span class="form-text text-muted">{{ field.help }}</span>
                        <div *ngIf="invalidate(field.nombre).value" class="invalid-feedback show" >{{ invalidate(field.nombre).message }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-6">
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </div>
        
    </form>

</div>